.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
    background: white;
}

[data-theme='dark'] .features {
    background: #242424;
}

.featureBox {
    margin: 0 auto;
    width: calc(100% - 50rem);
}

.boxRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem 0px;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 15rem;
    height: 10rem;
    border-radius: 8px;
    background-color: #f2f2f2;
    padding: 1rem;
    border: 1px solid #f7f7f7;
}

[data-theme='dark'] .box {
    background-color: #2f2f2f;
    border: 1px solid grey;
}
@media screen and (max-width: 980px) {
    .featureBox {
        margin: 0 auto;
        width: calc(100% - 10rem);
    }
    .box {
        padding: 1rem;
        width: 10rem;
    }
}

.boxTitle {
    font-size: 14px;
    font-weight: 500;
}

.boxDescription {
    font-size: 12px;
    line-height: 14px;
}

.title {
    font-size: 60px;
    background: linear-gradient(to right top, #ef3333, #ffa69e);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
}

[data-theme='dark'] .title {
    color: transparent;
    background: linear-gradient(to right top, #38c52f, #21af90);
    -webkit-background-clip: text;
    font-weight: bold;
}
